
.main {
     display:flex;
     flex-direction: column;
     justify-content: flex-start;
     align-items: center;
}
.mainLogin{
  display:flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: rgba(245, 245, 245, 1);
  height:100vh;

}

.container{
  width: 1240px;
  height: 50px;
  
  background-color: rgb(250,252,253);
  z-index:1000;
  display:flex;
  justify-content: center;
  align-items: center;

}
.header{
  width: 1240px;
  height: 50px;
  z-index:1000;
  gap: 28px;
  
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  background-color: rgb(250,252,253);

}

.logo{
  width: 92px;
  height: 29px;
  padding: 8px 0px 8px 0px;
  gap: 4px;
  border-radius: 4px;
  

}
.right{
  width: 125px;
  height: 36px;
  gap: 13px;
  
  display:flex;
  justify-content: space-between;
  align-items: center;

}

.user{
  width: 36px;
  height: 36px;
  gap: 0px;
  
  border-radius: 50%;

}

.welcome{
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  line-height: 10px;

}

.leftContent{
  width: 702px;
  height: 441px;
  gap: 40px;
  
  
}
.rightContent{
  width: 506px;
  height: 1024px;
  
}

.content{
  position: relative;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  top:-5em
 
}



.frame1{
  width:239px;
  height:900px;
  top: -57px;
  left: 2px;
  gap: 24px;
  

}

.frame2{
  width:239px;
  height:900px;
  top: -57px;
  left: 2px;
  gap: 24px;
  

}

.contentLeft{
  width: 702px;
  height:441px;
  gap: 40px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

}

.frames{
  position:relative;
  z-index:-2;
  display:flex;
  justify-content: space-between;
  align-items: center;
}

.overlay{
  position:absolute;
  background: linear-gradient(180deg, #FAFCFD 9.01%, rgba(250, 252, 253, 0) 22.32%, rgba(250, 252, 253, 0) 66.67%, #FAFCFD 96.46%);

}

.love{
  font-family: Inter;
  font-size: 64px;
  font-weight: 700;

  color: #1E1E1E;




}

.textContainer{
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  width: 507px;
  height: 281px;
  gap: 40px;
  

}
.through{
  font-family: Inter;
  font-size: 24px;
  font-weight: 400;
  line-height: 29.05px;

}

.searchInput{
  width: 557px;
  height: 50px;
  padding: 16px 12px 16px 12px;
  gap: 10px;
  border-radius: 6px;
  border: 1px;
  

}

.search{
  width: 146px;
  height: 50px;
  padding: 16px 40px 16px 40px;
  gap: 10px;
  border-radius: 6px;
  
  background-color: #3366FF;


}
.login{
  font-family: Inter;
  font-size: 14px;
  font-weight: 600;
  line-height: 16.94px;
  letter-spacing: 0.05em;
  text-align: right;
  color: rgba(85, 127, 242, 1);
  cursor: pointer;


}

.loginCard{
  width: 348px;
  height: 543px;
  padding: 24px 24px 18px 24px;
  gap: 0px;
  border-radius: 8px 0px 0px 0px;
  
  background-color:rgba(250, 252, 253, 1);
  display:flex;
  justify-content: center;
  align-items: center;
  

}

@media only screen and (max-width:1250px){
  .header{
    width: 80%;
    height: 50px;
    z-index:1000;
    gap: 28px;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    background-color: rgb(250,252,253);
  }
  .content{
    position: relative;
    display:grid;
    grid-template-columns: 65% 35%;
    top:-5em
   
  }
}

@media only screen and (max-width:1100px){
 
 .frames{
  display:none;
 }

 .content{
  position: relative;
  display:grid;
  grid-template-columns: 100%;
  top:5em
 
}

.contentLeft{
  width: 800px;
  height:441px;
  gap: 40px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

}
.love{
  font-family: Inter;
  font-size: 64px;
  font-weight: 700;

  color: #1E1E1E;
  text-align: center;

}
.textContainer{
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  width: 607px;
  height: 281px;
  gap: 40px;
  

}

}

@media only screen and (max-width:620px){
  .textContainer{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    width: 500px;
    height: 281px;
    gap: 40px;
    
  
  }

  .love{
    font-family: Inter;
    font-size: 64px;
    font-weight: 700;
    color: #1E1E1E;
    text-align: center;
  
  }
  .through{
    font-family: Inter;
    font-size: 24px;
    font-weight: 400;
  
  }

  .contentLeft{
  width: 600px;
  height:441px;
  gap: 40px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

}
}

@media only screen and (max-width:430px){
     .content{
      position: relative;
      display:flex;
      justify-content: center;
      align-items: center;
 
 
   }

 .textContainer{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 90vw;
    height:0;
    
    gap:0
  
  }

  .love{
    font-family: Inter;
    font-size: 50px;
    font-weight: 700;
    color: #1E1E1E;
    text-align: center;
  
  }
  .through{
    font-family: Inter;
    font-size: 24px;
    font-weight: 400;
    text-align: center;
  
  }

  .searchInput{
    width: 300px;
    height: 50px;
    padding: 16px 12px 16px 12px;
    gap: 0;
    border-radius: 6px;
    border: 1px;
    
    margin-top:20em;
  
  }

  .contentLeft{
    width: 702px;
    height:0;
    gap: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  
  }

  .search{
    width: 146px;
    height: 50px;
    padding: 16px 40px 16px 40px;
    gap: 0;
    border-radius: 6px;
    
    background-color: #3366FF;
    margin-top: 1em;
  
  
  }

  .container{
    width: 100vw;
    height: 50px;
    
    background-color: rgb(250,252,253);
    z-index:1000;
    display:flex;
    justify-content: center;
    align-items: center;
  
  }


  .header{
    width: 90vw;
    height: 50px;
    z-index:1000;
    gap: 0;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    background-color: rgb(250,252,253);
  
  }
 

  .logo{
    width: 92px;
    height: 29px;
    padding: 8px 0px 8px 0px;
    gap: 0;
    border-radius: 4px;
    
  
  }

  .right{
    width: 125px;
    height: 36px;
    gap: 0;
    
    display:flex;
    justify-content: space-between;
    align-items: center;
  
  }

 
}